@media (min-width: 320px) and (max-width: 720px) {
  header{
    height: 1000px;
  }

  .header_title {
    padding-top: 250px;
  }

  .whatIsNeuralNet {
    padding-top: 0px;
  }

  .red-text {
    color: red;
    display: block;
    padding-top: 60px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
  }

  .neural-net_description1{
    display: block;
    padding: 10px;
    margin: 0 auto;
    float: none;
    width: auto;
    margin-right: 0;
    font-size: 18px;
    margin-top: 20px;
  }

  .neural-net_description2{
    display: block;
    margin: 0 auto;
    padding: 10px;
    float: none;
    width: auto;
    margin-right: 0;
    font-size: 18px;
    margin-top: 20px;
  }

  .next-button {
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    padding: 10px 13px 10px 10px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
    text-align: center;
    transition: 0.25s;
    margin-bottom: 120px;
  }

  .exampleName{
    margin-top: 10px;
  }

  .neuralExamples .next-button {
    margin-top: 80px;
  }
}
