@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Nunito&display=swap');

body, html {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Nunito';
}

.fixed-container {
  max-width: 1150px;
  margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: block;
}

::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255,255,255,0.05);
}

#proggresBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  border-radius:0 0 10px 10px;
  background: linear-gradient(to top, #3498db, #e74c3c);
  animation: animate 5s linear infinite;
  z-index: 1;
}

@keyframes animate {
  0%,100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

#proggresBar:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #3498db, #e74c3c);
  filter: blur(50px);
}

main {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header {
  margin: 0;
  width: 100%;
  height: 1300px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  z-index: 99999;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.header_title {
  margin: 0;
  color: white;
  font-size: 60px;
  font-family: 'Comfortaa';
  text-align: center;
  padding-top: 400px;
}

.header_button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 25px;
  background-color: #e84118;
  color: #f5f6fa;
  font-size: 20px;
  text-transform: uppercase;
  border: 1px solid #e84118;
  border-radius: 10px;
  transition: 0.3s;
}

.header_button:hover {
  border-radius: 20px;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.neural-title {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
}

.red-text {
  color: red;
  display: block;
  padding-top: 50px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.whatIsNeuralNet {
  padding-top: 20px;
}

/* .brain-background {
  padding: 250px;
  background: url(../img/brain.png) no-repeat;
  position: relative;
  top: 250px;
  left: 30px;
}

.neurons-background {
  padding: 250px;
  background: url(../img/neurons.png) no-repeat;
  position: relative;
  top: 300px;
  left: 300px;
} */

.neural-net_description1{
  display: inline;
  float: left;
  width: 460px;
  margin-right: 160px;
  font-size: 22px;
  margin-top: 15px;
}

.neural-net_description2{
  display: inline;
  float: left;
  width: 480px;
  font-size: 22px;
  margin-top: 15px;
}

.next-button {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  padding: 10px 13px 10px 10px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: black;
  text-align: center;
  transition: 0.25s;
  margin-bottom: 120px;
}

.next-button:hover {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.arrow-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.examplesList {
 padding-top: 20px;
 list-style-type: none;
}

.example_list-item {
  display: inline-block;
  margin-right: 20px;
  border: 2px solid #353b48;
  box-shadow: 10px 10px 1px 1px rgba(0,0,0,0.2);
  padding: 20px;
}

.neuralExamples{
  padding-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

.example_list-item:nth-child(3)
{
  margin-right: 0;
}

.exampleDesc {
  width: 320px;
}

.exampleName {
  margin-bottom: 8px;
}

.exampleImgDown {
  width: 320px;
  height: 210px;
  margin-top: 30px;
}
